.card {
  background: #fdfdfd;
  display: flex;
  flex-direction: column;
  width: calc(25% - 20px);

  &__image {
  }

  &__content {
    padding: 1rem 1rem;
  }

  &__title {
    font-size: 1.4rem;
    margin: 1rem 0;
  }

  &__description {
    font-size: 0.875rem;
  }

  &__button {
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    background: #8d0606;
    color: #f2f2f2;
    cursor: pointer;
    transition: filter 800ms ease-in-out;
    &:hover {
      filter: brightness(0.8);
    }
  }
}
