.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    padding: 1rem 2rem;
  }
}

.logo {
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__item {
    list-style: none;
  }

  &__link {
    color: #808080;
    margin-left: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      color: #080808;
    }
  }
}
